[profile.default]
rpc_url = "https://celo-mainnet.infura.io/v3/0bbb45846bdf44d1bcbe6275327619ad"
src = "src"
out = "out"
libs = ["lib"]
<<<<<<< HEAD
optimizer = true
optimizer_runs = 800
via_ir = true
=======
via_ir = true  # Enable Yul IR compiler to help with "stack too deep" errors
optimizer = true
optimizer_runs = 200
>>>>>>> main

[etherscan]
celo-alfajores = { key = "${CELOSCAN_API_KEY}", url = "https://api-alfajores.celoscan.io/api"}
celo = { key = "${CELOSCAN_API_KEY}", url = "https://api.celoscan.io/api"}

[rpc_endpoints]
celo-alfajores = "https://alfajores-forno.celo-testnet.org"
celo = "https://forno.celo.org"
# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options



# forge create src/MiniSafeFactory.sol:MiniSafeFactory --rpc-url https://forno.celo.org --private-key 